@page

@{
    ViewData["Title"] = "Group Chat";
}
<div class="container">
    <div class="row">&nbsp;</div>
    <div class="row">
        <div class="col-2">Input</div>
        <div class="col-4"><input type="text" id="messageInput" /></div>
    </div>
    <div class="row">&nbsp;</div>
    <div class="row">
        <div class="col-6">
            <input type="button" id="userNameButton" value="Add your name" />
        </div>
    </div>
    <div class="row">
        <div class="col-6">
            <input type="button" id="sendAllButton" value="Send Message" />
        </div>
    </div>
    <div class="row">
        <div class="col-6">
            <input type="button" id="createGroupButton" value="Create Group" />
        </div>
    </div>
    <div class="row">
        <div class="col-6">
            <input type="button" id="joinGroupButton" value="Join Group" />
        </div>
    </div>
    <div class="row">
        <div class="col-6">
            <input type="button" id="sendToMyGroupButton" value="Send to" />
        </div>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <hr />
    </div>
</div>
<div class="row">
    <div class="col-6">
        <ul id="messagesList"></ul>
    </div>
</div>
<script src="~/js/signalr/dist/browser/signalr.js"></script>
<script src="~/js/chat.js"></script>