@page
@model LudoWeb.Pages.Ludo
@{
    ViewData["Title"] = "Play Ludo";
}

<div class="board-container">
    @for (int x = 0; x < Model.XCount; x++)
    {
        <div class="square-row">
            @for (int y = 0; y < Model.YCount; y++)
            {
                var square = Model.GetGameSquare(x, y);
                if (square != null)
                {
                    <div class="square game-square"
                         id="@square.Id"
                         style="        background-color: @square.Color;">
                        <img class="pawn-image" src="~/images/Pawn.svg">
                        <img class="pawn-image" src="~/images/Pawn.svg">
                        <img class="pawn-image" src="~/images/Pawn.svg">
                        <img class="pawn-image" src="~/images/Pawn.svg">
                    </div>
                }
                else
                {
                    <div class="square"></div>
                }
            }
        </div>
    }
</div>
<script src="~/js/signalr/dist/browser/signalr.js"></script>
<script src="~/js/game.js"></script>
