@page
@model LudoWeb.Pages.Register

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <link rel="stylesheet" href="css/Register.css">
    <title></title>
</head>
<body>
    <div class="Logo">
        <img src="images/LudoBanner_NoShadow.png"> 
    </div>
    <div class="page">
        <h1>Please register to play</h1>
        <label class="field field_v1">
          <input class="field__input" placeholder="e.g. BigBlack1337">
          <span class="field__label-wrap">
            <span class="field__label">Account name</span>
          </span>
        </label>
        <label class="field field_v2">
          <input class="field__input" placeholder="Please type something secure... do it for me!" type="password">
          <span class="field__label-wrap">
            <span class="field__label">Password</span>
          </span>
        </label>    
        <label class="field field_v2">
          <input class="field__input" placeholder="And now just repeat it!" type="password">
          <span class="field__label-wrap">
            <span class="field__label">Repeat password</span>
          </span>
        </label>
        <label class="field field_v3">
            <input class="field__input" placeholder="You do have an email, don't you?" type="email">
            <span class="field__label-wrap">
              <span class="field__label">E-mail</span>
            </span>
          </label>
          <button type="button" class="btn">Register</button>
      </div>
      
</body>
</html>